
<div class="container px-3 md:px-0">
    <div class="cards pb-5 flex justify-content-center align-items-center gap-4 flex-wrap">
        <div class="md:w-4 lg:w-3 shadow-3 border-round" *ngFor="let spec of allSpecialization">
            <div class="image">
                <img class="w-full border-round-top" [src]="specializationsImgs[spec[0]]" alt="">
            </div>
            <div class="info px-3">
                <h2>{{spec[0]}}</h2>
                <h3>Number of doctors: {{spec[1]}}</h3>
            </div>
            <div class="flex justify-content-center px-3 pb-4">
                <button (click)="onShowDoctors(spec[0])" class="w-full py-2 px-4 text-lg font-semibold border-none border-round-lg cursor-pointer">Show Doctors</button>
            </div>
        </div>
        
    </div>
</div>
