<navbar></navbar>

<div class="container px-4">

    <div class="header flex flex-column align-items-center">
        <h1>Dr. {{doctorInfo.firstName}} {{doctorInfo.lastName}}</h1>
        <h3 class="m-0">{{doctorInfo.specialization}}</h3>
    </div>
    <div class="mt-5 flex flex-column lg:flex-row">

        <div class="profile-section ">
            <div class="info flex align-items-center gap-4">
                <div class="img w-12rem h-12rem">
                    <p-avatar 
                        [style]="{width: '100%' , height: '100%'}"
                        icon="pi pi-user" 
                        styleClass="mr-2" size="xlarge" />
                </div>
                <div class="info">
                    <p>Years of Experience: {{doctorInfo.experience}}</p>
                    <p>Email: {{doctorInfo.email}}</p>
                    <p>phone: {{doctorInfo.phone}}</p>
                </div>
            </div>
            <div class="btns flex align-items-center gap-4 mt-4">
                <button class=" review-btn py-2 md:py-3 px-4 md:px-5 text-lg font-semibold border-none border-round-lg cursor-pointer">Add Review</button>
                <button class="book-btn py-2 md:py-3 px-4 md:px-5 text-lg font-semibold border-none border-round-lg cursor-pointer">Book Appointment</button>
            </div>
        </div>

        <div class="reviews-containe flex-1 flex flex-column align-items-center gap-3 mt-5 lg:mt-0">
            <h2 class="m-0 text-center">Reviews</h2>
            <div class="reviews w-9">
                <div class="review p-3 shadow-3 border-round mb-3" *ngFor="let review of allReview">
                    <div class="reviewer-info flex flex-wrap align-items-center gap-2 mb-3">
                        <div class="reviewer-name flex align-items-center">
                            <p-avatar 
                                icon="pi pi-user" 
                                styleClass="mr-2" 
                                size="large" 
                                shape="circle" />
                                <p class="m-0">{{review.reviewerName}}</p>
                        </div>
                        <p class="review-date m-0">Date: {{review.reviewDate}}</p>
                        <p class="review-rating m-0">Rating: {{review.rating}}</p>

                    </div>
                    <div class="review-body">
                        <p class="m-0">{{review.review}}</p>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
</div>
